/* css reset code here */

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* variables */

:root {
	--primary-dark: #03090c;
	--primary-light: #2c545d;
	--light: #b5d4c8;
	--accent: #32a64f;
}

/* font styles */

* {
	font-family: 'Open Sans', sans-serif;
}

/* template styles */

footer {
	bottom: 0;
	position: absolute;
}

nav {
	background-color: var(--primary-dark);
	position: absolute;
	top: 0;
	width: 100%;
	padding: 20px;
}

nav ul li {
	display: inline;
}

.nav-element a {
	color: white;
	font-size: 1.4em;
	font-weight: 600;
	letter-spacing: 0.08ch;
	margin: 0 12px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-element:hover a {
	color: var(--light);
	transition: all 0.5s ease-out;
}
